@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  position: relative;
  z-index: 1;
}

.container {
  width: 1000px;
  max-width: 80vw;
  height: 600px;
  max-height: 100vh;
  border-radius: 15px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
}
.container .left-image {
  width: 50%;
  overflow: hidden;
}

.container .left-image [src="./images/illustration-woman-online-desktop.svg"] {
  width: 400px;
  min-width: 300px;
  max-width: 80%;
  position: relative;
  left: -70px;
}
.container .left-image [src="./images/bg-pattern-desktop.svg"] {
  position: absolute;
  width: 500px;
  top: 0;
  left: -100px;
}

[src="./images/illustration-box-desktop.svg"] {
  position: absolute;
  top: 48%;
  left: -100px;
  width: 150px;
}

[src="./images/illustration-woman-online-mobile.svg"] {
  display: none;
}

.container .right-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 80%;
}

.card {
  border-bottom: 1px solid var(--Light-grayish-blue);
  width: 80%;
}

.card .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0 10px 0;
}

.card ion-icon {
  color: var(--Soft-red);
}

.card #text.off {
  display: none;
}

.card #text.on {
  font-size: 15px;
  margin-bottom: 10px;
  display: block;
  text-align: justify;
  color: var(--Very-dark-grayish-blue);
}

[name="chevron-down-outline"],
[name="chevron-up-outline"] {
  cursor: pointer;
}

.title {
  color: var(--Very-dark-desaturated-blue);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card .title {
    font-size: 15px;
  }
  .card #text.on {
    font-size: 14px;
  }

  .container {
    height: 720px;
    max-height: 90vh;
  }

  .container .left-image [src="./images/bg-pattern-desktop.svg"] {
    top: 50px;
    left: -220px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 80vh;
    gap: 50px;
  }

  .container .left-image {
    width: 50%;
    overflow: visible;
    width: 100%;
  }

  .container .left-image [src="./images/illustration-woman-online-desktop.svg"],
  [src="./images/illustration-box-desktop.svg"] {
    display: none;
  }

  [src="./images/illustration-woman-online-mobile.svg"] {
    display: block;
    width: 140px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .container .left-image [src="./images/bg-pattern-desktop.svg"] {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }

  .container .right-text {
    /* background: red; */
    width: 100%;
    align-items: center;
  }

  .right-text h1 {
    font-size: 22px;
  }

  .card .title {
    font-size: 12px;
  }
  .card #text.on {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  body {
    padding: 80px 0;
  }
  .container {
    min-height: 100vh;
  }

  [src="./images/illustration-woman-online-mobile.svg"] {
    display: block;
    width: 140px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .card .title {
    font-size: 10px;
  }
  .card #text.on {
    font-size: 8px;
  }
}
